<%= form_tag do %>
<%= hidden_field(:searchloc,'tedhi pulia') %>
  
<% end %>
<div class="aboutus">
<h1><small>About</small><span style='color:black'> Managineers</span></h1>

</div>
<div class="row">
<div class="col-md-3 col-md-offset-1 lead bord"> 
Managineers E-Markets is an E-Commerce based establishment which is dedicated towards providing IT based solutions to the existing traditional methods of marketing by harnessing the potential of the cyber world. We have a highly devoted and enthusiastic team of professionals, working to serve our clients by using better, easier and more efficient methods. We consider it our responsibility to serve you in our maximum capacity. Our service and costing is planned so as to keep our clients associated with us for a long term professional relationship.
We have a business model, keeping in mind that every organization which gives us an opportunity must be best served, and their interests must be well taken care of. At MANAGINEERS, our clients are the most important assets for our company. 
</div>

<div class="col-md-8">
<%= image_tag('inforgraphics About us.jpg',:size=>'800x1800') %>
</div> 
</div>
</div>
