<div class="row aboutus">
<div class="col-md-4 col-md-offset-4">
<%= image_tag('q3.jpg',:size=>'400x300',class: "img-thumbnail") %> 
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="lead">
<br>
<br>
<br>
Real Estate CRM: Once a customer gets interested into your project, you would never like to let that potential buyer go. You have to call him time and again, schedule a site visit, send him feedbacks and reminders, etc. This is where CRM plays a very vital and pivotal role. CRM or Customer Relationship Management in simple terms is a way to improve sales and prospects for the customers. It helps you in:
Customer Database Maintenance
Calling and agent management system.
Client Information Holding
Call tracking and reminders
Online system to be accessed from anywhere
Sites availability/booking system
Animated Walk Through: When a customer walks into your office to buy/rent space, how about showing him the entire place, that too sitting into your lavish and comfortable office. He or she may also want to take a look at your other sites and spaces as well. That’s where Animated Walk-Throughs’ come into play. We have designers and animation artists who can deliver a customized video which can show the buyer, a real 3-D view of the project.
</div>
</div>