<div class="row aboutus">
<div class="col-md-4 col-md-offset-4">
<%= image_tag('q1.jpg',class: "img-thumbnail") %> 
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="lead">
<br>
<br>
<br>
Lead Endorsing And Data Service (LEADS): LEADS is an accurate and cost effective collection of potential customers. For realty sector, these potential customers are buyers who take interest in buying developed sites/ flats/ commercial sites/ plots etc. With our efficient and dedicated data mining and high end analytics based services, we promise clients to provide them a well maintained data which has potential, which if handled with efficiency, could be easily converted into deals.
	We endorse your project by:
Virtual-Mails
Virtual-SMS
Virtual-Agent Calling
Micro Web Sites
Social Media Campaigning

Property Websites: Today, everything that is in business, or is even planning to come up, could be found on the web. In this age of digital marketing where information is sought on clicks, we can provide you with a well laid-out and informative website and/or online portal where buyers can get all the information about your project site which would take your business to new
</div>
</div>
</div>