/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.navbar
{
	margin-bottom: 0px !important;
}
.carousel-inner
{
	height: 500px !important;
	margin-bottom: 20px !important;
}
.navbar-inverse {

border-color: #0A0909 !important;
}
.card
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 25px;	
	border-width: 5px;	
    border-style:outset; 
    border-bottom-color:#ffffff;
    border-top-color: #0099ff;
    border-left-color: #0099ff;
    border-right-color:##ffffffs;
}
.aboutus
{
	margin: 100px 15%;s
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #0099ff;
}
html,body,#map-canvas
{
	height:100%
}
