/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.carousel .layer {
   position: absolute;
}
.carousel .glare {
   z-index: 1000;
}
 
.navbar-inverse {

border-color: #0A0909 !important;
}
.bord
{
	border-radius: 10px;
	
}
.aboutus
{	margin-top: 8%;
	margin-left:5%;
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #0099ff;
}
html,body,#map-canvas
{
	height:100%
}
.carousel{
	max-width:100% !important;
 height:100%px !important;

}
.beech
{
	text-align: center !important;
}
.lead
{
	font-size: 14px !important;
	color:#5a5a5a !important;
	text-align:justify;
text-justify:inter-word;
}
.featurette-heading
{

	font-weight: normal;
line-height: 1.1;
color: #2a2a2a;

	font:normal 21px octicons !important;
line-height: 1 !important;
display: inline-block !important;
text-decoration: none !important;
-webkit-font-smoothing: antialiased !important;
}
.title
{
	font:normal 32px octicons !important;
line-height: 1 !important;
display: inline-block !important;
text-decoration: none !important;
-webkit-font-smoothing: antialiased !important;
}
.navbar-inverse
{
	background-color: white !important;
	color: blue !important;

	span:hover
	{
		color: blue !importants;
	}

}
.navbar-nav
{
	}
.navbar-brand
{
	color: black !important;
	a:hover
	{
		color:yellow !important;
	}
}
a:hover
	{
		color: #428bca !important;
	}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color: #FFFFFF !important;
color: rgb(26, 23, 23) !important;
}
.mar
{
	margin-top: 10%;
	
}